.hero {
  text-align: center;
  background-color: red;
}
.hero-left {
  position: absolute;
  float: left;
  align-items: center;
  text-align: center;
  top: 50%;
  right: 50%;
  animation: slideInFromRight 1s ease-in;
}
.social {
  position: absolute;
  top: 40%;
  right: 90%;
  animation:slideInFromBottom 1s ease-in;
}
.social ul{
    text-decoration: none;
    list-style: none;
    margin-bottom: 30px;
  }
.social li a{
    font-size: 1.2rem;
    text-decoration: none;
  }
.hero-left h1 {
  font-size: 60px;
}
.hero-left h3 {
  margin-top: -40px;
  padding-left: 80px;
  font-size: 20px;
  align-items: center;
  text-align: center;
}
.hero-right {
  float: right;
  padding: 100px;
  padding-bottom: 0px;
  background-color: rgb(27, 27, 66);
  border-radius: 500px;
  overflow: hidden;
  animation: slideInFromLeft 1s ease-in;
}

body {
  background-color: #AEAC9A;
}
.icon{
  color:white;
  font-size: 2rem;
}
.github:hover{
  color: #000000;
  transform: translateY(-15px);
}
.facebook:hover{
  color: #1773EA;
  transform: translateY(-15px);
}
.instagram:hover{
  color: #D64171;
  transform: translateY(-15px);
}
.twitter:hover{
  color: #1C9CEA;
  transform: translateY(-15px);
}
