.hero {
  text-align: center;
}
.hero-left {
  position: absolute;
  float: left;
  align-items: center;
  text-align: center;
  top: 50%;
  right: 50%;
}
.social {
  position: absolute;
  top: 40%;
  right: 90%;
}
.social ul{
    text-decoration: none;
    list-style: none;
    margin-bottom: 30px;
  }
.social li a{
    font-size: 1.2rem;
    text-decoration: none;
  }
.hero-left h1 {
  font-size: 60px;
}
.hero-left h3 {
  margin-top: -40px;
  padding-left: 80px;
  font-size: 20px;
  align-items: center;
  text-align: center;
}
.hero-right {
  float: right;
  padding: 100px;
  padding-bottom: 0px;
  background-color: rgb(27, 27, 66);
  border-radius: 500px;
  overflow: hidden;
}

body {
  background-color: rgb(124, 38, 38);
}
.icon{
  color:black;
  font-size: 3rem;
}
.icon:hover{
  color:white;
  font-size: 4rem;
}